.frame-19-1,
.frame-6-3 {
  position: absolute;
  object-fit: cover;
}
.frame-19-1 {
  top: 276px;
  left: calc(50% - 117px);
  width: 234px;
  height: 14px;
}
.frame-6-3 {
  width: 39.2%;
  top: 223px;
  right: 30.4%;
  left: 30.4%;
  max-width: 100%;
  overflow: hidden;
  height: 41px;
}
.mot-de-passe {
  position: absolute;
  top: 193px;
  left: calc(50% - 92px);
  text-decoration: underline;
  font-weight: 500;
}
.connexion-child,
.connexion-item {
  position: absolute;
  width: 76%;
  top: 148px;
  right: 10.8%;
  left: 13.2%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 30px;
}
.connexion-item {
  top: 93px;
}
.connexion1 {
  position: absolute;
  top: 40px;
  left: calc(50% - 50px);
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 109px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.connexion {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 250px;
  height: 316px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: 12px;
  color: red;
  font-family: var(--font-inter);
}
