body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-darkgray: #979797;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-8xs: 5px;
}
